#root {
  max-width: 1280px;
  margin: 0;
  padding: 0rem;
  border-box: none;
  /* text-align: center; */

}

.planoFundo {
  margin-top: -20px;
  position: absolute;
  z-index: -1;
  width: 100%;
}

.head {
  align-items: center;
  margin-left: 200px;
}

.subHeader {
  display: flex;
  justify-content: space-between;
  .texto{
    width: 40%;
  }
  .intro{
    text-align: left;
    position: top;
    color: #008F97;
  }
  .sub{
    text-justify: left;
    color: #000;
  }
  .quemSomos {
    margin-top: 40px;
    background-color: #FF8511;
    border-radius: 10px;
    border: none;
    height: 30px;
    cursor: pointer;
  }
  .quemSomos:hover {
    transition: 0.6s;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
  
  .divPinguimGrande{
    margin: 0;
    display: flex;
    height: 800px;
    .pinguimGrande{
      /* background-color: pink; */
      /* margin-left: 100px; */
      margin-right: -350px;
      margin-top: 100px;
    }
  }
}

.header{
  display: flex;
  justify-content: space-between;
  .menu {
  display: flex;
  justify-content: space-between;
    color: #000;
    margin-top: 45px;
    width: 30%;
    .item{
      cursor: pointer;
      /* margin-left: 2px; */
    }
    /* .item:hover {
      transition: 0.6s;
      box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    } */
  }
  width: 140%;
  height: 132px;
  .logo {
/* ver o que incluir aqui depois */
  }
}

.middle{
  display: flex;
  justify-content: space-between;
  position: absolute;
  background-color: #6BBEC3;
  width: 100%;
  height: 408px;

  .diferencial {
    display: grid;
    margin-left: 100px;
    width: 30%;
    margin-top: 100px;

    .titulo{
      font-size: 20px;
      margin-top: 50px;
    }
    .subTitulo{
      margin-top: -80px;
    }
  }

  .beneficios {
    display: grid;
    width: 30%;
    margin-top: 100px;
    margin-right: 100px;

    .titulo1{
      font-size: 20px;
      margin-top: 50px;
    }
    .subTitulo1{
      margin-top: -80px;
    }
  }

}

.divVenhaConhecer{
  /* display: flex; */
  /* background-color: pink; */
  position: absolute;
  width: 100%;
  height: 50%;
  margin-top: 400px;
  color: #008F97;

  .venhaConhecer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    font-size: 25px;
  }

  .divyoutube{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 20px;
  }
}